.Header {
  position: sticky;
  width: 100%;
  height: 3.5rem;
  top: 0px;
  background: #ffffff;
  z-index: 10000;
  box-sizing: border-box;
  border-bottom: solid #f7533d;
  border-width: 2px;
}

#searchIcon {
  position: absolute;
  width: 32px;
  height: 32px;
  right: 8px;
  top: 8px;
}

#searchIcon:hover {
  background: #eeeeee;
  border-radius: 6px;
}

#searchIcon:active {
  background: #d0d0d0;
}

#menuIcon {
  position: absolute;
  width: 32px;
  height: 32px;
  left: 8px;
  top: 8px;
}

#menuIcon:hover {
  border-radius: 6px;
  background: #eeeeee;
}

#menuIcon:active {
  background: #d0d0d0;
}

#refreshIcon {
  position: absolute;
  width: 32px;
  height: 32px;
  left: 8px;
  top: 8px;
}

#refreshIcon:hover {
  border-radius: 6px;
  animation: rotation 2s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

#explorerIconContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  height: 3rem;
  width: 100%;
}

#title {
  position: relative;
  height: 2rem;
  /* left: 30%;
  right: 30%; */
  top: 0.5rem;
  font-family: "Inter";
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  margin: 0;
  color: #f7533d;
}

#explorerIcon {
  position: relative;
  display: block;
  height: 2rem;
  /* left: 57.44%;
  right: 30.03%; */
  padding-left: 1rem;
  top: 0;
  overflow: visible;
}
